*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: hsl(0 0 100);
    corner-shape: squircle;
}

@font-face {
    font-family: 'Anton';
    src: url(assets/fonts/Anton-Regular.ttf);
}

/* ===== Variables ===== */

:root {
    /* --primary: hsl(240 100 30); */
    /* --primary-light: hsl(0 0 100 / .1); */
    /* --primary-light-1: hsl(0 0 100 / .075); */
    /* --primary-light-2: hsl(0 0 100 / .2); */
    /* --primary-light-3: hsl(0 0 100 / .3); */
    --primary-dark-2: hsl(240 100 22);
    --primary-dark: hsl(240 100 25);
    --primary:          hsl(240 100 30);
    --primary-light:    hsl(240 72 37);
    --primary-light-1:  hsl(240 79 35);
    --primary-light-2:  hsl(240 54 44);
    --primary-light-3:  hsl(240 43 51);
    --accent: hsl(50 100 45);

    --accent-font: 'Anton', Arial, Helvetica, sans-serif;
    --san-serif: 'Roboto', Arial, Helvetica, sans-serif;
    --accent-clr-light: hsl(54 100 50);
    --accent-clr-dark: hsl(from var(--accent) h calc(s + 20) calc(l - 20));
    interpolate-size: allow-keywords;
}

body {
    background-color: var(--primary);
    height: 100dvh;
    position: relative;
}

/* ===== Typography ===== */

h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", Arial, Helvetica, sans-serif;
    color: var(--accent);
    font-weight: 500;
}

.accent-font {font-family: var(--accent-font)}

.txt-shadow {text-shadow: 2px 2px 3px hsl(0 0 0 / .2)}

/* ===== Buttons ===== */

.pill-btn {
    padding: .8rem 2rem;
    border-radius: 100vmax;
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    gap: .5rem;
    box-shadow: inset 0 3px 3px hsl(0 0 100 /.2),
                inset 0 -3px 3px hsl(0 0 0 / .2),
                2px 2px 5px hsl(0 0 0 / .2);
    transition: 0.2s ease;
    pointer-events: none;
    --icon-clr: var(--accent);

    path {
        fill: var(--icon-clr);
        stroke: var(--icon-clr);
        stroke-width: 3rem;
    }
    
    &, span {
        color: var(--accent);
        font-weight: 700;
        font-size: clamp(1.5rem, 5vw, 2rem);
    }

    #start-page:has(li) &:is(#start-btn),
    #app:not(:has(.prblm-btn:not(.clicked))) &:is(#final-jeopardy-btn),
    &:is(.filled) {
        pointer-events: all;
        background-color: var(--primary-light-3);
        --icon-clr: var(--accent);
        &:hover:not(:active) { translate: 0 -5px }
    }
}


/* ===== Depth Styles ===== */

.depth {
    border-radius: 2rem;
    box-shadow: inset 0 1px 2px hsl(0 0 100 /.3),
                inset 0 -1px 2px hsl(0 0 0 /.2),
                2px 2px 5px hsl(0 0 0 / .2);
}

/* Accent bg elements */

.accent-elements {
    position: relative;
    overflow: clip;

    &::before, &::after {
        content: '';
        position: absolute;
        aspect-ratio: 1;
        background-color: var(--primary-light-1);
        border-radius: 50%;
        z-index: -1;
    }

    &::before {
        width: max(20%, 10rem);
        rotate: 30deg;
        top: 0;
        left: 0;
    }

    &::after {
        width: max(30%, 15rem);
        rotate: -30deg;
        bottom: 0;
        right: 0;
    }
}

/* View Transition */

@view-transition {
    navigation: auto;
}

.jeopardy-logo {
    view-transition-name: --jeopardy-logo;
}