body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    position: relative;
}

.btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.jeopardy-logo { width: max(300px, 50vw) }

a {
    text-align: center;
    align-content: center;
    padding: 2rem;
    width: clamp(10rem, 50vw, 12rem);
    aspect-ratio: 6/5;
    background-color: var(--primary-light-3);
    font-size: clamp(1.5rem, 8vw, 2rem);
    cursor: pointer;
    text-decoration: none;
    transition: transform .15s ease, background-color .15s ease;
    &:active {
        transform: translateY(5px) scale(.98);
        background-color: var(--primary-light);
    }
}

.qr-code {
    position: absolute;
    width: 20rem;
    bottom: 2rem;
    right: 2rem;
    @media(max-width: 700px) { display: none }
}