body {
    position: relative;
    &:not(:has(#start-page.hidden)) > *:not(#start-page) {display: none}
    &.show-end-screen #app {display: none}
    &.show-end-screen #end-screen {display: flex}
}

/* ========== START PAGE ========== */

#start-page {
    --time: 1s;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    transition: var(--time) ease;
    &.hidden {display: none}
    
    :is(.code-container, .player-container-wrapper, #start-btn) {
        display: none;
        max-height: 0;
        padding-block: 0;
        opacity: 0;
        overflow-y: clip;
        transition: var(--time) ease;
        transition-behavior: allow-discrete;
        
        .game-created & {
            display: block;
            max-height: 20rem;
            padding-block: 1rem;
            opacity: 1;

            @starting-style {
                max-height: 0;
                padding-block: 0;
                box-shadow: none;
                opacity: 0;
            }
        }
    }

     #start-btn {
        transition: var(--time) ease, translate .2s ease;
     }

    .logo-wrapper {
        width: max(300px, 50vw);
        margin-bottom: 2rem;
        .game-created & {
            width: max(300px, 30vw);
            margin-bottom: 0;
        }
        .jeopardy-logo { width: 100% }
    }

    .btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .logo-wrapper, .btn-wrapper {
        flex: 0;
        transition: var(--time) ease, flex var(--time) ease;
        .game-created &:is(.logo-wrapper) { flex: 1 }
        .game-created &:is(.btn-wrapper) { flex: .5 }
    }

    .code-container {
        background-color: var(--primary-light-2);
        padding: .5rem 2rem;
        border-radius: 5rem;
        justify-items: center;
        text-align: center;

         #game-code {
            margin-top: -.8rem;
            display: flex;
            gap: 1rem;
            font-size: clamp(3rem, 10vw, 5rem);
            text-shadow: 2px 2px 5px hsl(0 0 0 / .25);

            span {
                animation: bounce 1s var(--delay) ease-in-out alternate infinite;
            }
        }
    }

    #create-game {
        display: block;
        height: auto;
        opacity: 1;
        overflow: hidden;
        transition:
            display var(--time) ease,
            height var(--time) ease,
            padding-block var(--time) ease,
            opacity var(--time) ease,
            translate 0.2s ease;
        transition-behavior: allow-discrete;

        .game-created & {
            display: none;
            height: 0;
            padding-block: 0;
            opacity: 0;
        }
    }
}

@keyframes bounce {
    40%, 100%  { translate: 0 .5rem }
}

/* Player Name Container */

.player-container-wrapper, .code-container {
    width: clamp(19rem, 50%, 40rem);
}

.player-name-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-light);
    border-radius: 5rem;
    padding: .8rem 1.5rem 1.5rem;

    h3 {
        font-size: clamp(1.5rem, 3vw, 2rem);
        text-align: center;
    }

    #name-list {
        min-height: 6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        border-radius: 3rem;
        padding: 1rem;
        box-shadow:
            inset 0 1px 2px hsl(0 0 0 / .7),
            inset 0 -1px 2px hsl(0 0 100 / .2);
    }

    #name-list li {
        flex: none;
        overflow: hidden;
        

        background-color: var(--primary-light-2);
        border-radius: 3rem;
        padding: .5rem 1rem;
        align-content: center;
        list-style: none;
        font-family: var(--accent-font);
        font-weight: 500;
        font-size: clamp(1rem, 3vw, 2.5rem);
        color: var(--accent);

        transition: flex .2s ease;
        interpolate-size: allow-keywords;

        @starting-style { flex: 0 }
    }

    /* #add-player-btn {
        align-self: flex-end;
        display: flex;
        font-size: 2.5rem;
        cursor: pointer;
        transition: .2s ease;
        &:hover { scale: 1.1 }
        &:active { scale: 1 }
    } */
}

/* Form Modal */

/* #form-modal {
    position: fixed;
    inset: 0;
    margin: auto;
    background-color: var(--primary-dark);
    border-radius: 3rem;
    padding: 1.5rem 2rem 1rem;
    border: 1px solid hsl(0 0 100 /.1);
    backdrop-filter: blur(1rem);
    opacity: 0;
    translate: 0 25vh;
    display: none;
    transition-property: display opacity translate;

    &, &::backdrop {
        transition-duration: .4s;
        transition-timing-function: ease;
        transition-behavior: allow-discrete;
    }
    
    &[open] {
        display: block;
        translate: 0 0vh;
        opacity: 1;
    }

    &::backdrop {
        opacity: 0;
        backdrop-filter: blur(.5rem) brightness(0.7);
        transition-property: opacity display overlay;
    }

    &[open]::backdrop { opacity: 1 }

    @starting-style {
        &[open] {opacity: 0; translate: 0 -25vh}
        &[open]::backdrop {opacity: 0}
    }
}

#players-form {
    & > *:is(:nth-child(2), :nth-child(3)) {
        margin-bottom: 1.5rem;
    }

    label {
        display: block;
        color: var(--accent);
        font-weight: 600;
        font-size: 1.5rem;
    }

    input {
        background-color: transparent;
        border: 2px solid white;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 2rem;
        transition: background-color 0.2s ease;
        &:focus {outline: none; background-color: rgb(255 255 255 / .1);}
    }

    #close-btn {
        display: block;
        margin-left: auto;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: .2s ease;
        path { fill: hsl(0 0 100 / .7) }
        &:hover path { fill: hsl(0 0 100) }
    }

    #submit-btn {
        display: block;
        margin-left: auto;
        color: var(--accent);
        background-color: transparent;
        border: none;
        font-size: 1.8rem;
        font-weight: 600;
        cursor: pointer;
        &:hover {animation: bounce 0.3s ease forwards}
    }
}

@keyframes bounce {
    0% {translate: 0px}
    20% {translate: -2px}
    80% {translate: 7px}
    100% {translate: 5px}
} */

/* ========== MAIN GAME PAGE ========== */

#app {
    position: relative;
    padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:  1.5rem;

    > * {
        padding: 1.5rem;
        background-color: var(--primary-dark);
        border-radius: 3rem;
        padding: 2rem;
    }

    #header {
        height: fit-content;
        flex: 1 1 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: var(--accent);
            font-weight: 800;
            font-size: clamp(2rem, 7vw, 4rem);
            text-transform: uppercase;
        }
    }
}

/* Game Board */

#game-board {
    flex: 1 1 70%;
    display: flex;
    gap: 1rem;
}

.category-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    > * { align-content: center }

    .category-header {
        background-color: hsl(0 0 0 / .15);
        background-color: var(--primary-dark-2);
        padding-inline: 1rem;
        margin-bottom: 1rem;
        font-size: clamp(2rem, 3vw, 2.3rem);
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        flex: 1 1 calc(1/6 * 100%);
    }

    .prblm-btn {
        background-color: var(--primary-light);
        flex: 1;
        font-size: clamp(2rem, 5vw, 3.5rem);
        text-align: center;
        color: var(--accent);
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover:not(:active) {
            background-color: var(--primary-light-2);
            translate: 0 -4px;
        }

        &.clicked { visibility: hidden }
    }
}

/* Player Points Aside */

aside {
    flex: 1 1 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
        font-size: clamp(1rem, 3vw, 2rem);
    }
}

#players-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.player-container {
    background-color: var(--primary-light);
    padding: .5rem 1rem;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    &:has(.highest-score) { order: -1 }

    .player-name-wrapper {
        font-weight: 500;
        font-size: 1.7rem;
        margin-right: auto;
    }

    .player-score {
        text-align: end;
        color: var(--accent);
        font-weight: 500;
        font-size: 3rem;
        cursor: pointer;
        margin-right: 2rem;
        min-width: 4ch;
        transform-origin: 100% 50%;
        transition: all 0.2s ease;
        &.highest-score { color: hsl(120 61 50) }
        &:hover { scale: 1.1 }
        &.disabled { pointer-events: none }
    }
    

    .more-btn {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: .2rem;
        cursor: pointer;
        input { opacity: 0; width: 0; height: 0; visibility: hidden }

        span {
            width: .25rem;
            aspect-ratio: 1;
            background-color: hsl(0 0 100 / .5);
            border-radius: 50%;
            transition: background-color .15s ease;
            :hover > & {background-color: hsl(0 0 100)}
        }
    }

    .more-menu {
        position: absolute;
        inset: calc(100% + .5rem) 0 auto auto;
        background-color: hsl(240 43 51);
        z-index: 1;
        padding: .5rem;
        list-style: none;
        font-family: var(--san-serif);
        .more-btn:not(:has(input:checked)) + & { display: none }
        li { cursor: pointer }
    }
    
    &:has(.final-answer-status) > *:not(.final-answer-status) {filter: blur(5px) brightness(.5);}

    .final-answer-status {
        position: absolute;
        inset: -.3rem -.5rem;
        border-radius: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.2s ease;

        > * {
            cursor: pointer;
            border-radius: 50%;
            corner-shape: round;
            height: fit-content;
            aspect-ratio: 1;
            background-color: var(--color);
            transition: all 0.2s ease;

            > svg {
                height: 40px;
                width: 40px;
            }
            
            &:is(.answer-right) {--color: #32cd32}
            &:is(.answer-wrong) {--color: #ff0000}
        }

        > *:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 0 hsl(from var(--color) h s calc(l - 20));
        }
        > *:active {transform: none; box-shadow: none}

    }
}

/* Question/Answer Pop Up */

#question-answer {
    position: absolute;
    inset: 0;
    overflow: clip;
    background-color: var(--primary);
    display: none;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    opacity: 0;
    transition: display .3s ease, opacity .3s ease;
    transition-behavior: allow-discrete;

    #question-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;

        .line {
            width: 4px;
            height: 100%;
            background-color: var(--accent);
            border-radius: 100vmax;
        }

        h2 {
            color: var(--accent);
            font-size: clamp(2rem, 4vw, 4rem);
            text-align: center;
        }
    }

    #question-wrapper {
        display: flex;
        .show-answer > & { display: none }
    }

    #answer-wrapper {
        :not(.show-answer) > & { display: none }
        .show-answer > & { animation: fade .5s ease forwards }
        img {
            display: block;
            margin: 1rem auto 0;
            height: 15rem;
            border-radius: 1rem;
        }
    }

    &.show-question, &.show-wager {
        display: flex;
        opacity: 1;
        @starting-style {opacity: 0}
    }

    .buzz-winner-wrapper {
        position: absolute;
        bottom: 3rem;
        font-family: var(--accent-font);
        background-color: var(--primary-light);
        font-weight: 400;
        height: auto;
        translate: 0 0;
        opacity: 1;
        transition: .2s ease;


        @starting-style {
            height: 0;
            translate: 0 100%;
            opacity: 0;
        }

        :has(#time-msg.show) > & {
            height: 0;
            translate: 0 100%;
            opacity: 0;
        }
    }
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

#answer-wrapper, #question-wrapper {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(200px, 70%, 60rem);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    p {
        align-content: center;
        font-size: 3rem;
        text-align: center;
        font-family: var(--san-serif);
        text-wrap: balance;
        line-height: 1.5;
    }

    button {
        align-self: flex-end;
        display: flex;
    }
}

/* Final Jeopardy Wager Msg */

#wager-msg {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 1rem;
    transition: .2s ease;
    transition-behavior: allow-discrete;
    h2 {
        font-size: clamp(2rem, 10vw, 5rem);
        text-align: center;
        text-wrap: balance;
        animation: breathe 2s ease-in-out alternate infinite;
    }
    #question-answer.show-wager & { display: flex }
}

@keyframes breathe {
    to {  scale: 1.1; }
}

/* Timer */

#timer-wrapper {
    flex: 1 1 30%;
    height: 2rem;
    border: 3px solid var(--accent);
    border-radius: 100vmax;
    position: relative;

    #timer-bar {
        position: absolute;
        inset-block: 0;
        background-color: var(--accent);
        border-radius: inherit;
        width: 100%;
        transition: all 0.5s linear;
    }
}

#time-msg {
    display: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
    translate: 0 100%;
    opacity: 0;
    padding: 1rem 2rem;
    transition-property: display translate opacity;
    transition-duration: .2s;
    transition-timing-function: ease;
    transition-behavior: allow-discrete;

    h2 {
        color: red;
        font-size: 3rem;
    }

    &.show {
        display: block;
        translate: 0 0;
        opacity: 1;
        @starting-style {
            translate: 0 100%;
            opacity: 0;
        }
    }
}

/* ========== END PAGE ========== */

#end-screen {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: none;
    padding: 2rem;

    h2 {
        text-align: center;
        font-size: clamp(2rem, 5vw, 4rem);
        text-wrap: balance;
    }
}

#winner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
    & > * {color: var(--accent)}
    p {font-size: clamp(3rem, 10vw, 6rem)}
    
    .winner-name {
        border-radius: 5rem;
        background-color: var(--primary-light);
        font-size: clamp(4rem, 10vw, 8rem);
        padding: 1rem 2rem;
    }

    img {
        display: block;
        width: max(300px, 50%);
        margin-inline: auto;
        box-shadow: 2px 2px 5px rgb(0 0 0 / .2);
    }

}