body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    padding: 2rem 1rem;
}

h1 {
    color: hsl(0 0 100);
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border: 3px solid hsl(0 0 100);
}

.btn-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    * { corner-shape: round }
}

.base {
    --clr: hsl(38 85 23);
    --darker-clr: hsl(from var(--clr) h s calc(l - 3));
    position: absolute;
    position-anchor: --btn;
    width: calc(12rem + 1.4rem);
    height: 9rem;
    position-area: top;
    translate: 0 calc(100% + 1.7rem);
    border-radius: 50%;
    background-color: var(--clr);
    z-index: -1;
    border: 2px solid var(--darker-clr);
    box-shadow: 0 .25rem 0 var(--clr), 0 .5rem 0 var(--clr);
    transition: .1s ease;
    .btn-container:has(.btn-outer:active) & { translate: 0 calc(100% + 1.2rem) }
}

.btn-outer {
    width: 12rem;
    height: 10rem;
    border-radius: 50% 50% 50% 50% / 40% 40% 40% 40%;
    background: linear-gradient(to bottom right, hsl(50 100 40), hsl(50 100 35));
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 0 3px hsl(50 100 30);
    z-index: 0;
    transition: .1s ease;
    anchor-name: --btn;

    &:active {
        height: 8rem;
        border-radius: 50%;
        translate: 0 1.5rem;
        .btn-inner { &::before, &::after { left: 100% } }
    }
    
    .btn-inner {
        position: absolute;
        z-index: 0;
        inset-inline: 0;
        height: 8rem;
        border-radius: 50%;
        background: linear-gradient(to bottom right, hsl(50 100 65), hsl(50 100 40));
        overflow: clip;
        anchor-name: --inner;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 2rem;
            left: 25%;
            inset-block: 0;
            transform: skew(-15deg);
            background-color: hsl(0 0 100);
            opacity: .2;
            transition: .1s ease;
        }

        &::after {
            width: 1rem;
            left: 55%;
        }

        .ripple {
            --xOff: 0px;
            --yOff: 0px;
            position: absolute;
            position-anchor: --inner;
            width: 0;
            aspect-ratio: 1;
            left: var(--xOff);
            top: var(--yOff);
            translate: -50% -50%;
            border-radius: 50%;
            background-color: hsl(0 0 100 / .3);
            filter: blur(3px);
            z-index: -1;
            animation: scaleFade .5s ease forwards;
        }
    }
}

@keyframes scaleFade {
    to { width: 200%; opacity: 0 }
}